<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="ICC">
    <title>Member Add </title>
    <link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/bootstrap-extended.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/colors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/dark-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/themes/semi-dark-layout.css}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/plugins/forms/wizard.css}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern boxicon-layout no-card-shadow 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

       <!-- BEGIN: Header-->
    <div th:insert="header">  </div>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
	<div th:insert="menu">  </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title float-left pr-1 mb-0">Member Master</h5>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" style="border:solid #EBEBEB 2px;">
                <!-- Form wizard with icon tabs section start -->
                <section id="icon-tabs">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">New Member Details</h4>
                                </div>
                                <div class="card-content mt-2">
                                    <div class="card-body">
                                        <form action="#" class="wizard-horizontal">
                                            <!-- Step 1 -->
                                            <h6>
                                                <i class="step-icon"></i>
                                                <span class="fonticon-wrap">
													<i class="bx bx-book-content" style="font-size:40px"></i>
                                                </span>
                                            </h6>
                                            <!-- Step 1 end-->
                                            <!-- body content step 1 -->
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="py-50">Enter Member Details</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="first_name">First Name </label>
                                                            <input type="text" class="form-control" id="firstName13" placeholder="Enter First Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Last Name</label>
                                                            <input type="text" class="form-control" placeholder="Enter Last Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Member ID</label>
                                                            <input type="text" class="form-control" placeholder="Enter Lions Member ID">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Zone</label>
                                                            <input type="text" class="form-control" placeholder="Enter Inaugration date">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date Of Birth</label>
                                                            <input type="date" class="form-control" placeholder="Enter date of birth">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Designation</label>
                                                            <select name="designation" class="form-control">
                                                                <option value="">Select</option>
                                                                <option value="">Member</option>
                                                                <option value="">President</option>
                                                                <option value="">First Vice President</option>
                                                                <option value="">Second Vice President</option>
                                                                <option value="">Administrator</option>
                                                                <option value="">Treasurer</option>
                                                                <option value="">Membership Chairperson</option>
                                                                <option value="">LCIF Coordinator</option>
                                                                <option value="">Service Chairperson</option>
                                                                <option value="">Marketing Communications Chairperson</option>
                                                                <option value="">Director</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Blood Group</label>
                                                            <input type="text" class="form-control" placeholder="Enter Blood Group">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Occupation</label>
                                                            <input type="text" class="form-control" placeholder="Enter Occupation">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Address Line 1</label>
                                                            <input type="text" class="form-control" placeholder="Enter House no./ Flate no.">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Address Line 2</label>
                                                            <input type="text" class="form-control" placeholder="Enter Society name/ Area name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>LandMark</label>
                                                            <input type="text" class="form-control" placeholder="Enter A Landmark">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>TOWN/CITY</label>
                                                            <input type="text" class="form-control" placeholder="Enter Town/City">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>PINCODE</label>
                                                            <input type="text" class="form-control" placeholder="Enter Your Pincode">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Country</label>
                                                            <select name="country" class="form-control">
                                                                <option value="">Select</option>
                                                                <option value="IN">India</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>State</label>
                                                            <select name="country" class="form-control">
                                                                <option value="">Select</option>
                                                                <option>Tamil Nadu</option>
                                                                <option>Andra Pradesh</option>
                                                                <option>Arunachal Pradesh</option>
                                                                <option>Assam</option>
                                                                <option>Bihar</option>
                                                                <option>Chhattisgarh</option>
                                                                <option>Goa</option>
                                                                <option>Gujarat</option>
                                                                <option>Haryana</option>
                                                                <option>Himachal Pradesh</option>
                                                                <option>Jammu and Kashmir</option>
                                                                <option>Jharkhand</option>
                                                                <option>Karnataka</option>
                                                                <option>Kerala</option>
                                                                <option>Madya Pradesh</option>
                                                                <option>Maharashtra</option>
                                                                <option>Manipur</option>
                                                                <option>Meghalaya</option>
                                                                <option>Mizoram</option>
                                                                <option>Nagaland</option>
                                                                <option>Orissa</option>
                                                                <option>Punjab</option>
                                                                <option>Rajasthan</option>
                                                                <option>Sikkim</option>
                                                                <option>Telagana</option>
                                                                <option>Tripura</option>
                                                                <option>Uttaranchal</option>
                                                                <option>Uttar Pradesh</option>
                                                                <option>West Bengal</option>                                                            </select>
                                                        </div>
                                                    </div>
												<br/><br/><br/>
                                            </fieldset>
                                            <!-- body content step 1 end-->
                                            <!-- Step 2 -->
                                            <h6>
                                                <i class="step-icon"></i>
                                                <span class="fonticon-wrap">
                                                    <i class="bx bxs-bookmark-star" style="font-size:40px"></i>
                                                </span>
                                            </h6>
                                            <!-- Step 2 end-->
                                            <!-- body content of step 2 -->
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="py-50">Enter Lionism Details</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Home Club</label>
                                                            <select name="country" class="form-control">
                                                                <option value="">Select</option>
                                                                <option value="AF">Coimbatore</option>
                                                                <option value="AF">Coimbatore North</option>
                                                                <option value="AF">Coimbatore Center</option>
                                                                <option value="AF">Coimbatore South</option>
                                                                <option value="AF">Coimbatore East</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Lionism Join Date</label>
                                                            <input type="date" class="form-control" placeholder="Enter Lionism Join Date">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Lionism WD</label>
                                                            <input type="text" class="form-control" placeholder="Enter Lionism WD">
                                                        </div>
                                                    </div>
                                                </div>
												<br/><br/><br/>                                                
                                            </fieldset>
                                            <!-- body content of step 2 end-->
                                            <!-- Step 3 -->
                                            <h6>
                                                <i class="step-icon"></i>
                                                <span class="fonticon-wrap">
                                                    <i class="bx bxs-contact" style="font-size:40px"></i>
                                                </span>
                                            </h6>
                                            <!-- Step 3 end-->
                                            <!-- body content of Step 3 -->
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="py-50">Enter Contact Details</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Email ID 1</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Email ID 1">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Email ID 2</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Email ID 2">
                                                        </div>
                                                    </div>
													<div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Mobile No 1</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Mobile No">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                             <label>Mobile No 2</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Mobile No">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                             <label>Office Phone No 1</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Office Phone No 1">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                             <label>Office Phone No 2</label>
                                                            <input type="text" class="form-control" placeholder="Enter Contact Office Phone No 2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/><br/><br/>
                                            </fieldset>
                                            <!-- body content of Step 3 end-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Form wizard with number tabs section end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

    

    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-left d-inline-block"></span><span class="float-right d-sm-inline-block d-none">Copy Right @ Lions Clubs - District 324 B1   | PRIVACY POLICY</span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/vendors.min.js}"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js}"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js}"></script>
    <script th:src="@{/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script th:src="@{/app-assets/vendors/js/extensions/jquery.steps.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/forms/validation/jquery.validate.min.js}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script th:src="@{/app-assets/js/core/app-menu.js}"></script>
    <script th:src="@{/app-assets/js/core/app.js}"></script>
    <script th:src="@{/app-assets/js/scripts/components.js}"></script>
    <script th:src="@{/app-assets/js/scripts/footer.js}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script th:src="@{/app-assets/js/scripts/forms/wizard-steps.js}"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>