
															<span th:each="servSrc,iter : ${services}">
																<span th:each="serv: ${servSrc.value}">
																	<tr>
																		<td th:text="${iter.index+1}"></td>
																		<td th:utext="${#strings.replace(serv.clubID,'.0','')}"></td>
																		<td th:text="${serv.name}"></td>																		
																		<td th:utext="${#strings.replace(serv.numberOfActivities,'.0','')}"></td>
																		<td th:utext="${#strings.replace(serv.peopleServed,'.0','')}"></td>
																		<td th:utext="${#strings.replace(serv.totalVolunteers,'.0','')}"></td>
																		<td th:utext="${#strings.replace(serv.totalVolunteerHours,'.0','')}"></td>
																		<td th:utext="${#strings.replace(serv.fundsDonatedUSD,'.0','')}"></td>
																		<td th:text="${servSrc.key}"></td>

																	</tr>
																</span>
															</span>
															